{
  "presets": [
    ["env"],
    "react",
    ["minify"]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-exponentiation-operator",
    "lodash",
    ["import", { "libraryName": "antd"}]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "production": {
      "presets": ["minify"]
    }
  }
}
