{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "import/extensions": 0,
    "react/jsx-filename-extension": 0,
    "no-console": 0
  }
}
